/* header start */
html{
    width: 100%;
    min-width: 950px;
}
body{
    margin: 0;
}

div.header-wrapper{
    height: 60px;
    justify-content: center;
    width: 100%;
    box-shadow: 0px 5px 5px 0px rgb(211,211,211);
}

div.header{
    margin: 0 auto;
    height: 100%;
    display: flex;
    position: relative;
    width: 100%;
}

ul.items-wrapper{
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
}

ul.items-wrapper li{
    display: block;
    list-style: none;
    margin-left: 20px;
    margin-right: 20px;
}

li.header-item{
    margin-top: 20px;    
}
li.header-item a{
    font-family: Montserrat,sans-serif; 
    text-decoration: none;
    color: #484848;
}

img.logo{
    width: 50px;
    height: 50px;
}
img.shop-cart{
    margin-top: 10px;
    width: 30px;
    height: 30px;
}

li.dropdown {
    display: inline-block;
  }
  
div.dropdown-content {
    display: none;
    position: absolute; 
    top: 60px;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

div.dropdown-content a {
    color: #484848;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

/* header end*/